{% extends 'template.html' %}

{% block content %}
</head>
<body>
    
        <form action="{{url_for('competitor_add_entry')}}"  method="post">
            <div class="form-group">
                <label for="name">Name: </label>
                <input type= "text" name="name"></intput>
                <br>
                <label for="species">Species: </label>
                <input type= "text" name="species"></intput>
                <br>
                <label for="Length">Length: </label>
                <input type= "text" name="length"></intput>
                <button type="submit">Submit</button>
            </div>
        </form>
    </table>
</body>


{% endblock %}