{% extends 'template.html' %}

{% block content %}

<h1>Judge Page</h1>
<a href="/judge/rules" class="btn btn-primary" role="button">Rules</a>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Species</th>
        <th scope="col">Length</th>
        <th scope="col">Approve(YES/NO)</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td> {{entry.name}}</td>
          <td> {{entry.species}}</td>
          <td> {{entry.length}}</td>
          <td>
            <form action="{{ url_for('approve_button', id=entry['_id']) }}" method="post" >
              <input type="submit" value = 'yes' name="response"/>
              <input type="submit" value = 'no'  name="response" />
            </form>
          </td>
        </tr>
      {% endfor %}
  </table>
{% endblock %}